MONGODB_URL=xxxxxxxxxxxxxxx
PORT=4002
ROOT_DOMAIN=http://localhost:5173

JWT_SECRET=Secret
EXPIRES_IN=1d

JWT_REFRESH_SECRET=RefreshSecret
JWT_REFRESH_EXPIRES_IN=3d


NODEMAILER_HOST=smtp.gmail.com
NODEMAILER_PORT=port number
NODEMAILER_PASS=nodemailer password
NODEMAILER_USER=mail used

CLOUD_NAME=cloud name
CLOUD_KEY=cloud key as required
CLOUD_SECRET=cloud secret as required